/*--------------- GLOBALS ---------------------*/
/*#region*/
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkBlue: #063879;
    --orange: #e3ad13;
    --orangeGrey: #C8A762;
    --grey: #6f8299;
    --fontBlack: #26253C;
    --Duck1: invert(82%) sepia(4%) saturate(5256%) hue-rotate(176deg) brightness(84%) contrast(92%);
    --Duck2: invert(58%) sepia(27%) saturate(756%) hue-rotate(165deg) brightness(91%) contrast(87%);
    --Duck3: invert(37%) sepia(18%) saturate(2018%) hue-rotate(169deg) brightness(94%) contrast(89%);
    --Duck4: invert(12%) sepia(63%) saturate(3603%) hue-rotate(206deg) brightness(96%) contrast(95%);
    --Duck5: invert(61%) sepia(98%) saturate(563%) hue-rotate(3deg) brightness(100%) contrast(85%);
    --Duck6: invert(67%) sepia(63%) saturate(286%) hue-rotate(3deg) brightness(89%) contrast(91%);
    --Duck7: invert(52%) sepia(27%) saturate(335%) hue-rotate(173deg) brightness(92%) contrast(90%);
}


body {
    background-color: rgb(238,242,245);
    font-family: Inter, sans-serif;
    color: var(--fontBlack);
}

.desktop {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
/*#endregion*/


/*--------------- TYPOGRAPHY ------------------*/
/*#region*/
.title-50 {
    font-size: 50px;
    font-weight: 700;
}

.title-40 {
    font-size: 40px;
    font-weight: 700;
}

.bold-26 {
    font-size: 26px;
    font-weight: 700;
}

.bold-18 {
    font-size: 18px;
    font-weight: 700;
}

.bold-20 {
    font-size: 20px;
    font-weight: 700;
}

.regular-20,
pre {
    font-size: 20px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

.regular-18 {
    font-size: 18px;
    font-weight: 400;
}

.regular-16 {
    font-size: 16px;
    font-weight: 400;
}

.regular-14 {
    font-size: 14px;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.grey {
    color: var(--grey);
}

.blue {
    color: var(--darkBlue);
}

.white {
    color: #FFFFFF;
}

.right {
    text-align: right;
}

a {
    text-decoration: none;
    color: inherit;
}

.border { /*testing*/
    border: 1px solid black;
}

.cursor {
    cursor: pointer;
}

.flex {
    display: flex;
}
/*#endregion*/


/*--------------- MENU --------------*/
/*#region*/
nav ul {
    margin: 10px 3% 0 3%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav img {
    width: 17px;
    position: relative;
    top: 3px;
}

.menu-duck1 { filter: var(--Duck1); }
.menu-duck2 { filter: var(--Duck2); }
.menu-duck3 { filter: var(--Duck3); }
.menu-duck4 { filter: var(--Duck4); }
.menu-duck5 { filter: var(--Duck5); }
.menu-duck6 { filter: var(--Duck6); }
.menu-duck7 { filter: var(--Duck7); }
/*#endregion*/


/*--------------- INTRO --------------*/
/*#region*/
main {
    margin-top: 105px;
    display: flex;
    justify-content: space-evenly;
}

main div:first-child {
    margin-left: 65px;
}

.intro1 {
    margin-top: 100px;
    margin-left: 2px;
}

.intro2 {
    margin-top: 26px;
}

.intro3 {
    margin-top: 4px;
    margin-left: 2px;
}

.intro4 {
    margin-top: 92px;
}

/* INTRO-IMAGES */

main div:last-child {
    position: relative;
    flex-basis: 430px;
}

.intro-top {    /*profile pic*/
    position: absolute;
    top: 25px;
    left: 50px;
    width: 300px;
}

.intro-behind { /*paint*/
    filter: var(--Duck5);
    opacity: 0.7;
    width: 355px;
}
/*#endregion*/


/*--------------- ABOUT --------------*/
/*#region*/
.about {
    margin-top: 270px;  /*real is 285*/
    display: flex;
    justify-content: center;
}

.about div:first-child {
    padding-top: 0px;
}

.about img {
    margin-top: 40px;
    width: 374px;
    opacity: 0.35;
}

/* ABOUT-TEXT */

.about div:last-child{
    margin-right: 130px;
}

.about p {
    margin-top: 20px;
}

.about p:nth-child(2) {
    margin-top: 50px;
}


.about div:last-child {
    padding-left: 50px;
}
/*#endregion*/


/*--------------- SKILLS --------------*/
/*#region*/
.skills {
    margin-top: 285px;
    margin-left: 9%; /*115px*/
    margin-right: 9%;
}

.skills-flex {
    margin-top: 55px;
    margin-left: 1.7%;
    margin-right: 1.8%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 4%;

    text-align: center;
    color: var(--fontBlack);
}

.skills img {
    filter: var(--Duck7);
    width: 110px;
}
/*#endregion*/


/*--------------- PORTFOLIO --------------*/
/*#region*/
.portfolio {
    margin-top: 285px;
    position: relative;
}

.portfolio .title-40 {
    text-align: right;
    margin-right: 9%; /*115px*/
    margin-bottom: 55px;
}

/*BOX SIZING*/

.portfolio-3 { /* NOT UNIVERSAL */
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.portfolio-2 { /* NOT UNIVERSAL */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.portfolio-2 .portfolio-single:first-child {
    margin-left: 10%;
}
.portfolio-2 .portfolio-single:last-child {
    margin-right: 10%;
}

/*INSIDE STYLING*/

.portfolio-single {
    background-color: #FFFFFF;
    width: 348px;
    height: 450px;
    margin-right: 30px;
    border-radius: 20px;
    position: relative;
}

.port1 {
    margin-top: 25px;
    margin-left: 25px;
}

.port2 {
    text-align: center;
}

.port3 {
    margin-top: 23px;
    margin-left: 40px;
}

/*DEMO-CODE*/

.demo-box,
.code-box,
.nocode {
    display: inline-block;
    background-color: var(--grey);
    color: white;
    font-weight: 700;
    border-radius: 16px;
    margin-left: 18px;
}

.demo-box {
    margin-top: 170px;
    padding: 6px 14px;
}

.code-box {
    margin-top: 14px;
    padding: 6px 16px;
}

.nocode {
    margin-top: 14px;
    padding: 6px 13px;
    text-decoration: line-through;
    opacity: 0.6;
    cursor: default;
}


/*IMAGE*/

.portfolio-image {
    width: 258px;
    height: 280px;
    position: absolute;
    right: -20px;
    top: 204px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: -8px 0;
}

.pimg1 { background-image: url(images/portfolio-resume.jpg);}
.pimg2 { background-image: url(images/scrimba-color-generator.jpg);}
.pimg3 { background-image: url(images/scrimba-invoice_creator.jpg);}
.pimg4 { background-image: url(images/portfolio-pr.jpg);}
.pimg5 { background-image: url(images/portfolio-travelaid.jpg);}
.pimg6 { background-image: url(images/portfolio-trio.jpg);}
.pimg7 { background-image: url(images/portfolio-adr2.jpg);}
.pimg8 { background-image: url(images/portfolio-adr1.jpg);}

.portfolio .pimg2 { /*FIX IMAGE POSITION */
    background-position: -14px 0;
}

.portfolio .pimg3 { /*FIX IMAGE POSITION */
    background-position: 1px 0;
}

/*WORDPRESS LINES*/
/*snaps to 'Portfolio' section*/

.wp1 {
    position: absolute;
    background-color: var(--grey);
    height: 1081px;
    width: 1px;
    right: -5px;
    bottom: -55px;
}
.wp2 {
    position: absolute;
    background-color: var(--grey);
    height: 1px;
    width: 25px;
    right: -5px;
    bottom: 1025px;
}

.wp3 {
    position: absolute;
    background-color: var(--grey);
    height: 1px;
    width: 25px;
    right: -5px;
    bottom: -55px;
}

.wp4 {
    position: absolute;
    background-color: var(--grey);
    height: 1px;
    width: 12px;
    right: -16px;
    bottom: 478px;
}

.wp-image {
    filter: var(--Duck7);
    width: 40px;
    position: absolute;
    right: -60px;
    bottom: 460px;
}
/*#endregion*/


/*--------------- EDUCATION --------------*/
/*#region*/
.education {
    margin-top: 315px;
}

.education .title-40 {
    margin-left: 9%; /*115px*/
}

/*LEFT+RIGHT*/
.education-wrapper {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
}

.edu-left,
.edu-right {
    max-width: 40%;
    width: 40vw;
}

/*LEFT*/
.edu-left {
    text-align: center;
}

.edu-image-left {
    max-width: 80%;
}

/*RIGHT*/
.education .text-position {
    position: relative;
}

.education .text-position span {
    position: absolute;
    font-size: 1.9em;
    transform: scaleX(1.5);
    /*careful, scaleX messes up alignment*/
    top: -24px;
    opacity: 0.5;
    color: var(--grey);
}

.edu-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.education-container {
    padding-left: 30px;
}

.education .border-bottom {
    margin-bottom: 40px;
}
/*#endregion*/


/*--------------- WHAT I OFFER --------------*/
/*#region*/
.offer {
    margin-top: 285px;
}

.offer .title-40 {
    text-align: right;
    margin-right: 9%; /*115px*/
}

/*LEFT+RIGHT*/
.offer-container {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
}

.offer-left,
.offer-right {
    max-width: 45%;
    width: 45vw;
}

/*LEFT*/
.offer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.offer-textContainer {
    display: flex;
}

.offer .border-bottom {
    margin-bottom: 60px;
}

.offer .text-position {
    position: relative;
}

.offer .text-position span {
    position: absolute;
    font-size: 1.9em;
    transform: scaleX(1.5);
    /*careful, scaleX messes up alignment*/
    top: -24px;
    /*left is declared in below align classes*/
    opacity: 0.5;
    color: var(--grey);
}

.offer .text-position .align1 {
    left: 16px;
}

.offer .text-position .align2 {
    left: 32px;
}

/*RIGHT*/
.offer-right {
    text-align: center;
}

.image-gym {
    max-width: 100%;
}

/*#endregion*/


/*--------------- CONTACT ME --------------*/
/*#region*/
.contact-me {
    margin-top: 285px;
    display: flex;
    justify-content: space-evenly;
}

.cp1 {
    margin-top: 55px;
}

.cp2 {
    margin-top: 28px;
}

.contact-me form {
    margin-top: 30px;
}

/*FORM*/
.form1,
.form2,
.form3 {
    padding-left: 13px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: var(--fontBlack); /*text u type*/
}

.form1::placeholder,
.form2::placeholder,
.form3::placeholder {
    color: rgba(38,37,60, 0.4);
    font-family: inter;
}

.form1,
.form2 {
    width: 400px;
    height: 60px;
}

.form2,
.form3 {
    margin-top: 20px;
}

.form3 {
    padding-top: 18px;
    width: 400px;
    height: 233px;
}

.form-button {
    margin-top: 20px;
    width: 101px;
    height: 50px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 200px;
    cursor: pointer;
}

/*RIGHT SIDE*/
.contact-me img {
    width: 60px;
    filter: var(--Duck1);
    margin-right: 26px;
}

.cm-flex {
    display: flex;
}

.cm-top {
    margin-top: 220px;
}

.cm-others {
    margin-top: 25px;
}

.cm2 .regular-18 {
    margin-top: 20px;
}

.h4geu { order: 1; }
.qRT44 { order: 3; }
.ooLi { order: 2; }
/*#endregion*/


/*--------------- FOOTER --------------*/
/*#region*/
footer {
    background-color: var(--darkBlue);
    padding-bottom: 18px;
}

.footer-div {
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
}

/*LEFT*/

footer .bold-26 { margin-top: 21px; }
.fl1 { margin-top: 8px; }

.fl2 { 
    margin-top: 50px;
    line-height: 1.42;
}

/*MIDDLE*/

.f-middle {
    text-align: center;
    margin-left: 80px;
}

.fm1 { margin-top: 50px; }
.fm2 { margin-top: 25px; }
.fm3 { margin-top: 13px; }

/*RIGHT*/

.f-right {
    text-align: right;
}

.fr1 {
    margin-top: 50px;
    margin-right: 3px;
}

.fr2 { margin-top: 20px; }

footer img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(102%) contrast(107%);
    width: 60px;
    margin-left: 20px;
}
/*#endregion*/